@model SmartParkingApplication.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Details</h2>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal" style="margin-left:50px">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PassWork)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PassWork)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdentityCard)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdentityCard)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParkingPlace.NameOfParking)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParkingPlace.NameOfParking)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role.RoleName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
        <input type="submit" value="Cancel" onclick="location.href='@Url.Action("Index","ManageUser")'" class="btn btn-danger" />
    </p>

</div>
