
@{
    ViewBag.Title = "WorkingCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Calendar";
    var events = (IEnumerable<SmartParkingApplication.Models.MultipleTablesJoinClass>)ViewData["events"];
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lịch làm việc</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","ManageUser")">Quản lí nhân viên</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lịch làm việc</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="eventsTable">
                                @for (int i = 0;i<events.Count();i++)
                                {
                                    <tr>
                                        <td>@events.ElementAt(i).user.Name</td>
                                        <td>@events.ElementAt(i).schedule.TimeApply.Value.ToString("yyyy-MM-dd") @events.ElementAt(i).schedule.TimeStart</td>
                                        <td>@events.ElementAt(i).schedule.TimeApply.Value.ToString("yyyy-MM-dd") @events.ElementAt(i).schedule.TimeFinish</td>
                                    </tr>
                                }
                            </table>
                            <div id="calendarWorking">
                            </div>
                            <button style="width:150px;margin-top:10px" type="button" onclick="location.href='@Url.Action("Editworkingcalendar", "ManageUser")';return false;" class="btn btn-success float-right">Sửa lịch làm việc</button>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>