@model SmartParkingApplication.Models.ParkingPlace

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">


    <h2 style="margin-left:50px">Thông tin chi tiết</h2>

    <div>
        <hr />
        <dl class="dl-horizontal" style="margin-left:50px">
            <dt>
                @Html.DisplayNameFor(model => model.NameOfParking)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameOfParking)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfSlot)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfSlot)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfCar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfCar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfMotoBike)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfMotoBike)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberCarBlank)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberCarBlank)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberMotoBikeBlank)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberMotoBikeBlank)
            </dd>

        </dl>
    </div>
    <div class="form-actions no-color" style="margin-left:50px">
        <input type="submit" value="Edit" class="btn btn-default"/> |
        <input type="submit" value="Cancel" onclick="location.href='@Url.Action("ListParkingPlace","ManagePPlace")'" class="btn btn-danger" />
    </div>
</div>