@model SmartParkingApplication.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content//dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page" style="background-image: url('/Content/dist/img/bãi-đậu-xe-2-2.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="login-box">
        <div class="login-logo">
            <a class="h2" style="background-color: #007bff; color: white;">SmartParking Systems</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                @using (Html.BeginForm("Login", "LoginUs", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <p class="login-box-msg">Đăng nhập để bắt đầu</p>

                    <form action="" method="post">
                        <div class="input-group mb-3">
                            @*<input type="text" class="form-control" placeholder="Email">*@
                            @Html.TextBoxFor(m => m.UserName, "", new { @type = "text", @class = "form-control", @placeholder = "Tên Đăng Nhập" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @*<input type="password" class="form-control" placeholder="Password">*@
                            @Html.PasswordFor(m => m.PassWord, new { @type = "password", @class = "form-control", @placeholder = "Password" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">
                                        Nhớ mật khẩu
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>


                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a href="@Url.Action("Forgot","LoginUs")">Quên mật khẩu</a>
                    </p>
                }
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content//plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content//plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content//dist/js/adminlte.min.js"></script>

    @*<div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6col-md-offset-3">
                        <h2>Login to Your Account</h2>
                        <div class="text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphiconglyphicon-user"></i></span>
                                            <input type="text" id="username" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphiconglyphicon-lock"></i></span>
                                            <input type="password" class="form-control" id="password" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-warning form-control" type="submit" id="savedata"><i class="glyphiconglyphicon-log-in"></i>&nbsp;Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="login-page">
            <div class="form">

                <form class="login-form">
                    <input type="text" id="userid"  placeholder="Tên Đăng Nhập" />
                    <input type="password" id="password" placeholder="Mật Khẩu" />
                    <button type="submit" id="savedata">Đăng Nhập</button>

                </form>
            </div>
        </div>*@
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content//plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>

    @*<script>
        $(document).ready(function () {
            $('#savedata').click(function () {
                var data = {

                    "password": $("#password").val(),
                    "username": $("#username").val(),


                };
                $.ajax({
                    url: "/LoginUser/ValidateUser",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (response) {
                        if (response.Success) {

                            $.get("@Url.Action("Index", "Home")", function (data) {
                                $('.container').html(data);
                            });
                            alert('Login Sucessful');
                        }
                        else {
                            alert('Login Fail!!!');

                            window.location.href = "@Url.Action("Index", "LoginUser")";

                        }
                    },
                    error: function () {

                    }
                });
            });
        });
        </script>*@



</body>
</html>
