<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartParkingApplication</title>
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- icon title -->
    <link rel="icon" href="~/Content/dist/img/iconCar.png" type="image/icon type">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- iCheck -->
    @*<link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">*@
    <!-- JQVMap -->
    @*<link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">*@
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    @*<link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">*@
    <!-- Daterange picker -->
    @*<link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">*@
    <!-- summernote -->
    @*<link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">*@
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/dist/css/Select2/select2.min.css">
    <!--Calendar-->
    <link rel="stylesheet" href="~/Content/plugins/fullcalendar/main.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index","Home")" class="nav-link">Trang chủ</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index","Home")" class="brand-link">
                <span class="brand-text font-weight-light" style="margin-left:25px">SmartParkingSystem</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="@Url.Action("SVDetails","Setting", new  { Name = @Session["UserName"].ToString(), id = @Session["idAccount"].ToString() })" class="d-block">Tên tài khoản:<h5 id="abc">@Session["Name"].ToString()</h5></a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Quản lí nhân viên
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ManageAccount")" class="nav-link">
                                            <i class="nav-icon fas fa-user"></i>
                                            <p>
                                                Quản lý tài khoản
                                            </p>
                                        </a>
                                    </li>
                                }
                                @if (Request.IsAuthenticated && User.IsInRole("Quản lý"))
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ManageUser")" class="nav-link">
                                            <i class="nav-icon fas fa-user"></i>
                                            <p>
                                                Thông tin nhân viên
                                            </p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <!--Quản lí bãi đỗ-->
                        @if (Request.IsAuthenticated && User.IsInRole("Quản lý"))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-car"></i>
                                    <p>
                                        Quản lí bãi đỗ
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item" )>
                                        <a href="@Url.Action("ManageStatusParkingPlace", "ManagePPlace")" class="nav-link">
                                            <i class="nav-icon fas fa-car"></i>
                                            <p>
                                                Tình trạng bãi đỗ
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ListParkingPlace", "ManagePPlace")" class="nav-link">
                                            <i class="nav-icon fas fa-car"></i>
                                            <p>Danh sách bãi đỗ</p>
                                        </a>
                                    </li>
                                    <!--Lịch sử bãi đỗ-->
                                    <li class="nav-item">
                                        <a href="@Url.Action("HistoryParking", "ManagePPlace")" class="nav-link">
                                            <i class="nav-icon fas fa-history"></i>
                                            <p>
                                                Lịch sử bãi đỗ
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--End quản lí bãi đỗ-->
                        }
                        <!--Quản lí vé-->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-ticket-alt"></i>
                                <p>
                                    Quản lí vé và thẻ
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @if (Request.IsAuthenticated && User.IsInRole("Quản lý"))
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ManageTicket")" class="nav-link">
                                            <i class="nav-icon fas fa-ticket-alt"></i>
                                            <p>
                                                Quản lí vé
                                            </p>
                                        </a>
                                    </li>
                                }
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <!--Quản lí thẻ-->
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ManageCard")" class="nav-link">
                                            <i class="nav-icon fas fa-credit-card"></i>
                                            <p>
                                                Quản lí thẻ
                                            </p>
                                        </a>
                                    </li>
                                    <!--End quản lí thẻ-->
                                }
                                @if (Request.IsAuthenticated && User.IsInRole("Quản lý"))
                                {
                                    <!--Thiết lập giá vé-->
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "SettingPrice")" class="nav-link">
                                        <i class="nav-icon fas fa-dollar-sign"></i>
                                        <p>
                                            Thiết lập giá vé
                                        </p>
                                    </a>
                                </li>
                                }
                            </ul>
                        </li> <!--End quản lí vé-->
                        @if (Request.IsAuthenticated && User.IsInRole("Quản lý"))
                        {
                            <!--Thống kê-->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>
                                    Thống kê và báo cáo
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("IncomeStatistic", "StatisticReport")" class="nav-link">
                                        <i class="nav-icon fas fa-chart-bar"></i>
                                        <p>
                                            Thống kê doanh thu
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("DensityStatistic", "StatisticReport")" class="nav-link">
                                        <i class="nav-icon fas fa-chart-bar"></i>
                                        <p>
                                            Thống kê mật độ xe
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("IncomeReport", "StatisticReport")" class="nav-link">
                                        <i class="nav-icon fas fa-chart-bar"></i>
                                        <p>
                                            Báo cáo doanh thu
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li> <!--End thống kê-->
                        }
                        <li class="nav-item">
                            <a href="@Url.Action("Logout","LoginUs")" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    Đăng xuất
                                </p>
                            </a>
                        </li> <!--End quản lí bãi đỗ-->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
        <!-- Content Wrapper. Contains page content -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0
        </div>
    </footer>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- ChartJS -->
    @*<script src="~/Content/plugins/chart.js/Chart.min.js"></script>*@
    <!-- Calendar Dashboard -->
    <script src="~/Content/plugins/sparklines/sparkline.js"></script>
    <script src="~/Content/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/Content/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    @*<script src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>*@
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Content/dist/js/demo.js"></script>*@
    <!-- Select2 -->
    <script src="~/Content/dist/js/Select2/select2.min.js"></script>
    <!-- fullCalendar 2.2.5 -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/fullcalendar/main.js"></script>
    <!-- Custome JS -->
    <script src="~/Content/dist/js/Calendar/Calendar.js"></script>
    <script src="~/Content/dist/js/CRUD_Card.js"></script>
    <script src="~/Content/dist/js/CRUD_Ticket.js"></script>
    <script src="~/Content/dist/js/CRUD_User.js"></script>
    <script src="~/Content/dist/js/CRUD_ParkingPlace.js"></script>
    <script src="~/Content/dist/js/CRUDStatusParking.js"></script>
    <script src="~/Content/dist/js/SettingPrice.js"></script>
    <script src="~/Content/dist/js/Chart/highcharts.js"></script>
    <script src="~/Content/dist/js/Chart/exporting.src.js"></script>
    <script src="~/Content/dist/js/Chart/export-data.src.js"></script>
    <script src="~/Content/dist/js/IncomeStatistic.js"></script>
    <script src="~/Content/dist/js/CarDensityStatistic.js"></script>
    <script src="~/Content/dist/js/Dashboard.js"></script>
    <script src="~/Content/dist/js/HistoryParking.js"></script>
    <script src="~/Content/dist/js/Account.js"></script>
    <script src="~/Content/dist/js/IncomeReport.js"></script>
    <script src="~/Content/dist/js/SettingViewProfile.js"></script>
</body>
</html>