
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
        //Create MonthlyIncomeStatment
function CreateMonthlyIncome(id, totalPrice) {
    $.ajax({
        url: '@Url.Action("CreateMonthlyIncome", "ManageTicket")',
        type: "POST",
        data: JSON.stringify({ id: id, totalPrice: totalPrice }),
        contentType: "application/json",
        dataType: "json",
        success: function (result) {
            if (result == "AddFalse") {
                alert("Thêm doanh thu vé tháng không thành công!");
            }
        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
}

var checkLicensePlateExist;
function AddTicket() {
    var res = validateAddTicket();
    if (res == false) {
        return false;
    }
    checkLicensePlateExist = true;
    var empTicketObj = {
        CusName: $('#CusNameTK').val(),
        IdentityCard: $('#IdentityCardTK').val(),
        Phone: $('#PhoneTK').val(),
        Email: $('#EmailTK').val(),
        TypeOfVehicle: $('#cbTypeOfVehicleTK').val(),
        LicensePlates: $('#LicensePlatesTK').val(),
        ParkingPlaceID: $('#cbNameParkingPlaceTK').val(),
        RegisDate: $('#RegisDateTK').val(),
        ExpiryDate: $('#ExpiryDateTK').val(),
        CardID: $('#cbCardNumberTK').val()
    };
    $.ajax({
        url: '@Url.Action("CheckExistLicensePlatesToAdd", "ManageTicket")',
        data: JSON.stringify(empTicketObj),
        type: "POST",
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (result) {
            if (result == "AddFalse") {
                alert("Tạo vé tháng không thành công!");
            } else {
                if (result.check == true) {
                    validateAddTicket();
                    checkLicensePlateExist = false;
                    return false;
                } else {
                    checkLicensePlateExist = false;
                    $('#tbTicket').DataTable().clear().destroy();
                    UpdateCardByID($('#cbCardNumberTK').val());
                    CreateMonthlyIncome(result.MonthlyTicketID, $('#priceTK').val());
                    loadDataTicket();
                    $('#myModalTicket').modal('hide');
                }
            }
        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
}

//Update Extend ticket
function UpdateExtendTK() {
    var res = validateExtendTK();
    if (res == false) {
        return false;
    }
    var empTicketObj = {
        MonthlyTicketID: $('#MonthlyTicketETK').val(),
        CusName: $('#CusNameETK').val(),
        IdentityCard: $('#IdentityCardETK').val(),
        Phone: $('#PhoneETK').val(),
        Email: $('#EmailETK').val(),
        ParkingPlaceID: $('#ParkingPlaceIDETK').val(),
        TypeOfVehicle: $('#TypeOfVehicleETK').val(),
        LicensePlates: $('#LicensePlatesETK').val(),
        RegisDate: $('#RegisDateETK').val(),
        ExpiryDate: $('#ExpiryDateETk').val(),
        CardID: $('#CardIDETK').val(),
    };
    $.ajax({
        type: "POST",
        data: JSON.stringify(empTicketObj),
        url: '@Url.Action("UpdateTicket", "ManageTicket")',
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (result) {
            if (result == "UpdateFalse") {
                alert("Gia hạn vé không thành công!");
            } else {
                $('#tbTicket').DataTable().clear().destroy();
                CreateMonthlyIncome($('#MonthlyTicketETK').val(), $('#priceETK').val());
                loadDataTicket();
                $('#myModalExtendTicket').modal('hide');
            }
        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
}

//Update Re Register ticket
function UpdateReRegister() {
    var res = validateReRegister();
    if (res == false) {
        return false;
    }
    var empTicketObj = {
        MonthlyTicketID: $('#MonthlyTicketIDRe').val(),
        CusName: $('#CusNameRe').val(),
        IdentityCard: $('#IdentityCardRe').val(),
        Phone: $('#PhoneRe').val(),
        Email: $('#EmailRe').val(),
        ParkingPlaceID: $('#ParkingPlaceIDRe').val(),
        TypeOfVehicle: $('#TypeOfVehicleRe').val(),
        LicensePlates: $('#LicensePlatesRe').val(),
        RegisDate: $('#RegisDateRe').val(),
        ExpiryDate: $('#ExpiryDateRe').val(),
        CardID: $('#CardIDRe').val(),
    };
    $.ajax({
        url: '@Url.Action("UpdateTicket", "ManageTicket")',
        data: JSON.stringify(empTicketObj),
        type: "POST",
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (result) {
            if (result == "UpdateFalse") {
                alert("Đăng ký lại vé không thành công!");
            } else {
                $('#tbTicket').DataTable().clear().destroy();
                CreateMonthlyIncome($('#MonthlyTicketIDRe').val(), $('#priceRe').val());
                loadDataTicket();
                $('#myModalReRegisterTicket').modal('hide');
            }

        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
}

//Change status to using card when add ticket success
function UpdateCardByID(CardID) {
    var idC = CardID;
    $.ajax({
        url: '@Url.Action("UpdateCardByID", "ManageCard")',
        data: "{ idCard :" + idC + "}",
        type: "POST",
        contentType: "application/json",
        dataType: "json",
        success: function (result) {
            if (result == "UpdateFalse") {
                alert("Cập nhật trạng thái thẻ không thành công!");
            }
        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
}


var checkLicensePlateExistUpdate;
//Edit info ticket
function UpdateInfoTicket() {
    var res = validateEditTicket();
    if (res == false) {
        return false;
    }
    var checkbox = document.getElementById("checkboxChange");
    var cardID;
    if (checkbox.checked == true) {
        cardID = $('#cbCardNumberEdit').val();
    } else {
        cardID = $('#CardNumberOld').val();
    }
    checkLicensePlateExistUpdate = true;
    var empTicketObj = {
        MonthlyTicketID: $('#MonthlyTicketIdEdit').val(),
        CusName: $('#CusNameEdit').val(),
        IdentityCard: $('#IdentityCardEdit').val(),
        Phone: $('#PhoneEdit').val(),
        Email: $('#EmailEdit').val(),
        ParkingPlaceID: $('#ParkingPlaceEdit').val(),
        TypeOfVehicle: $('#TypeOfVehicleEdit').val(),
        LicensePlates: $('#LicensePlatesEdit').val(),
        RegisDate: $('#RegisDateEdit').val(),
        ExpiryDate: $('#ExpiryDateEdit').val(),
        CardID: cardID,
    };
    $.ajax({
        url: '@Url.Action("CheckExistLicensePlatesToUpdate", "ManageTicket")',
        data: JSON.stringify(empTicketObj),
        type: "POST",
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (result) {
            if (result == "UpdateFalse") {
                alert("Cập nhật thông tin vé không thành công!");
            } else {
                if (result == true) {
                    validateEditTicket();
                    checkLicensePlateExistUpdate = false;
                    return false;
                } else {
                    checkLicensePlateExistUpdate = false;
                    if (checkbox.checked == true) {
                        UpdateCardByID($('#cbCardNumberEdit').val());
                    }
                    $('#tbTicket').DataTable().clear().destroy();
                    ComboboxTicket();
                    loadDataTicket();
                    $('#myModalEditTicket').modal('hide');
                }
            }

        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
}

    //Drop contract ticket
function UpdateDropContractTicket() {
    var empTicketObj = {
        MonthlyTicketID: $('#MonthlyTicketDC').val(),
        CusName: $('#CusNameDC').val(),
        IdentityCard: $('#IdentityCardDC').val(),
        Phone: $('#PhoneDC').val(),
        Email: $('#EmailDC').val(),
        TypeOfVehicle: $('#TypeOfVehicleDC').val(),
        ParkingPlaceID: $('#ParkingPlaceDC').val(),
        LicensePlates: $('#LicensePlatesDC').val(),
        RegisDate: $('#RegisDateDC').val(),
        ExpiryDate: $('#ExpiryDateDC').val(),
        CardID: $('#CardIDDC').val(),
    };
    $.ajax({
        type: 'POST',
        url: '/ManageTicket/UpdateTicket',
        data: JSON.stringify(empTicketObj),
        contentType: "application/json",
        dataType: "json",
        success: function (result) {
            if (result == "UpdateFalse") {
                alert("Chấm dứt hợp đồng không thành công!");
            } else {
                $('#tbTicket').DataTable().clear().destroy();
                loadDataTicket();
                $('#myModalDropContractTicket').modal('hide');
            }
        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
    }
</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý hợp đồng vé tháng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý hợp đồng vé tháng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row invoice-info">
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-warning">
                                        <div class="inner" id="totalTicket">
                                        </div>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" data-toggle="modal" data-target="#myModalTicket" onclick="clearTextBoxTicket(); ComboboxTicket();" class="btn btn-success">Đăng kí vé tháng</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" onclick="location.href='@Url.Action("XuatFileExel", "ManageTicket")';return false;" class="btn btn-success">Xuất báo cáo vé sắp hết hạn</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.Ticket-header -->
                        <div class="card-body">
                            <table id="tbTicket" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        <th>Biển số xe</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Số thẻ</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody" id="tbodyTicket"></tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        <th>Biển số xe</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Số thẻ</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div id="paginationTicket" class="pagination" style="margin-top:10px">
                            </div>
                        </div>
                        <!-- /.Ticket-body -->
                        <!-- The Modal create new Monthly Ticket -->
                        <div class="modal fade" id="myModalTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <form id="FormAddTicket">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Đăng kí vé tháng </h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="IdTK" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CusName">Tên chủ xe</label>
                                                <input type="text" class="form-control" id="CusNameTK" name="CusNameTK" placeholder="Tên chủ xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCardTK" name="IdentityCardTK" placeholder="Số CMND" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="EmailTK" name="EmailTK" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Phone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneTK" name="PhoneTK" placeholder="Số điện thoai" />
                                            </div>
                                            <div class="form-group">
                                                <label for="TypeOfVehicle">Bãi đỗ</label>
                                                <select class="form-control" onchange="GetPriceMonthlyRegisterTK()" id="cbNameParkingPlaceTK">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="TypeOfVehicle">Loại xe</label>
                                                <select class="form-control" id="cbTypeOfVehicleTK" onchange="GetPriceMonthlyRegisterTK()">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="LicensePlates">Biển số xe</label>
                                                <input type="text" class="form-control" id="LicensePlatesTK" name="LicensePlatesTK" placeholder="Biển số xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="RegisDate">Ngày đăng kí</label>
                                                <input type="date" class="form-control" id="RegisDateTK" name="RegisDateTK" placeholder="Ngày đăng kí" onchange="GetPriceMonthlyRegisterTK()" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ExpiryDate">Ngày hết hạn</label>
                                                <input type="text" class="form-control" id="ExpiryDateTK" placeholder="Ngày hết hạn" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="TimeRegis">Thời gian đăng ký</label>
                                                <select class="form-control" id="cbTK" name="cbTK" onchange="GetPriceMonthlyRegisterTK()">
                                                    <option value="1">1 tháng</option>
                                                    <option value="2">2 tháng</option>
                                                    <option value="3">3 tháng</option>
                                                    <option value="4">4 tháng</option>
                                                    <option value="5">5 tháng</option>
                                                    <option value="6">6 tháng</option>
                                                    <option value="7">7 tháng</option>
                                                    <option value="8">8 tháng</option>
                                                    <option value="9">9 tháng</option>
                                                    <option value="10">10 tháng</option>
                                                    <option value="11">11 tháng</option>
                                                    <option value="12">12 tháng</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="TimeRegis">Thành tiền</label>
                                                <input type="text" class="form-control" id="priceTK" placeholder="Thành tiền" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="ParkingPlace">Số thẻ</label>
                                                <select class="form-control" id="cbCardNumberTK" name="cbCardNumberTK" style="width:516px">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btnAddTicket" onclick="return AddTicket();">thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Extend Ticket -->
                        <div class="modal fade" id="myModalExtendTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Gia Hạn Vé Tháng</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div hidden>
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="MonthlyTicketETK" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CusName">Tên chủ xe</label>
                                                <input type="text" class="form-control" id="CusNameETK" placeholder="Tên chủ xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCardETK" placeholder="Số CMND" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="EmailETK" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Phone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneETK" placeholder="Số điện thoai" />
                                            </div>
                                            <div class="form-group">
                                                <label for="TypeOfVehicle">Loại xe</label>
                                                <input type="text" class="form-control" id="TypeOfVehicleETK" placeholder="Loại xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="LicensePlates">Biển số xe</label>
                                                <input type="text" class="form-control" id="LicensePlatesETK" placeholder="Biển số xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="PP">Bãi đỗ</label>
                                                <input type="text" class="form-control" id="ParkingPlaceIDETK" placeholder="Bãi đỗ" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ParkingPlace">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardIDETK" placeholder="Số thẻ" />
                                            </div>
                                        </div>
                                        <form id="FormExTK">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Ngày đăng ký
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="RegisDateETK" placeholder="Ngày gia hạn" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Ngày hết hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="ExpiryDateETk" placeholder="Ngày hết hạn" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Thời gian gia hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select class="form-control" id="cbETK" name="cbETK" onchange="GetPriceMonthlyExtendTK()">
                                                            <option value="1">1 tháng</option>
                                                            <option value="2">2 tháng</option>
                                                            <option value="3">3 tháng</option>
                                                            <option value="4">4 tháng</option>
                                                            <option value="5">5 tháng</option>
                                                            <option value="6">6 tháng</option>
                                                            <option value="7">7 tháng</option>
                                                            <option value="8">8 tháng</option>
                                                            <option value="9">9 tháng</option>
                                                            <option value="10">10 tháng</option>
                                                            <option value="11">11 tháng</option>
                                                            <option value="12">12 tháng</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Thành tiền
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="priceETK" placeholder="Thành tiền" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnExtendTK" onclick="return UpdateExtendTK();">Gia Hạn</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return clearETK()">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- The Modal ReRegister Ticket -->
                        <div class="modal fade" id="myModalReRegisterTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <form id="FormReRegis">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Ký lại hợp đồng</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div hidden>
                                                <div class="form-group">
                                                    <label for="Id">Id</label>
                                                    <input type="text" class="form-control" id="MonthlyTicketIDRe" placeholder="Id" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="CusName">Tên chủ xe</label>
                                                    <input type="text" class="form-control" id="CusNameRe" placeholder="Tên chủ xe" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="IdentityCard">Số CMND</label>
                                                    <input type="text" class="form-control" id="IdentityCardRe" placeholder="Số CMND" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="Email">Email</label>
                                                    <input type="text" class="form-control" id="EmailRe" placeholder="Email" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="Phone">Số điện thoại</label>
                                                    <input type="text" class="form-control" id="PhoneRe" placeholder="Số điện thoai" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="TypeOfVehicle">Loại xe</label>
                                                    <input type="text" class="form-control" id="TypeOfVehicleRe" placeholder="Loại xe" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="LicensePlates">Biển số xe</label>
                                                    <input type="text" class="form-control" id="LicensePlatesRe" placeholder="Biển số xe" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="PP">Bãi đỗ</label>
                                                    <input type="text" class="form-control" id="ParkingPlaceIDRe" placeholder="Bãi đỗ" />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="ParkingPlace">Số thẻ</label>
                                                    <input type="text" class="form-control" id="CardIDRe" placeholder="Số thẻ" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Ngày đăng ký
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="date" class="form-control" id="RegisDateRe" name="RegisDateRe" placeholder="Ngày đăng ký" onchange="GetPriceMonthlyReRegisterTK()" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Ngày hết hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="ExpiryDateRe" placeholder="Ngày hết hạn" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Thời gian gia hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select class="form-control" id="cbRe" onchange="GetPriceMonthlyReRegisterTK()">
                                                            <option value="1">1 tháng</option>
                                                            <option value="2">2 tháng</option>
                                                            <option value="3">3 tháng</option>
                                                            <option value="4">4 tháng</option>
                                                            <option value="5">5 tháng</option>
                                                            <option value="6">6 tháng</option>
                                                            <option value="7">7 tháng</option>
                                                            <option value="8">8 tháng</option>
                                                            <option value="9">9 tháng</option>
                                                            <option value="10">10 tháng</option>
                                                            <option value="11">11 tháng</option>
                                                            <option value="12">12 tháng</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Thành tiền
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="priceRe" placeholder="Thành tiền" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btnReRegister" onclick="UpdateReRegister();">Đồng ý</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal DropContract Ticket -->
                        <div class="modal fade" id="myModalDropContractTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Chấm dứt hợp đồng vé tháng</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div hidden>
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="MonthlyTicketDC" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CusName">Tên chủ xe</label>
                                                <input type="text" class="form-control" id="CusNameDC" placeholder="Tên chủ xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCardDC" placeholder="Số CMND" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="EmailDC" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Phone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneDC" placeholder="Số điện thoai" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ParkingPlace">Bãi đỗ</label>
                                                <input type="text" class="form-control" id="ParkingPlaceDC" placeholder="Bãi đỗ" />
                                            </div>
                                            <div class="form-group">
                                                <label for="TypeOfVehicle">Loại xe</label>
                                                <input type="text" class="form-control" id="TypeOfVehicleDC" placeholder="Loại xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="LicensePlates">Biển số xe</label>
                                                <input type="text" class="form-control" id="LicensePlatesDC" placeholder="Biển số xe" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="RegisDateDC">Ngày đăng ký</label>
                                                <input type="text" class="form-control" id="RegisDateDC" placeholder="Ngày đăng ký" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ExpiryDateDC">Ngày hết hạn</label>
                                                <input type="text" class="form-control" id="ExpiryDateDC" placeholder="Ngày hết hạn" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ParkingPlace">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardIDDC" placeholder="Số thẻ" />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-10">
                                            <label for="Status">Bạn có muốn chấm dứt hợp đồng không?</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnDropContractTicket" onclick="UpdateDropContractTicket();">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Detail Monthly Ticket -->
                        <div class="modal fade" id="myModalDetailTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Chi tiết vé tháng</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="MonthlyTicketIdDetail" placeholder="Id" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="CusName">Tên chủ xe</label>
                                            <input type="text" class="form-control" id="CusNameDetail" placeholder="Tên chủ xe" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="IdentityCard">Số CMND</label>
                                            <input type="text" class="form-control" id="IdentityCardDetail" placeholder="Số CMND" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="text" class="form-control" id="EmailDetail" placeholder="Email" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Phone">Số điện thoại</label>
                                            <input type="text" class="form-control" id="PhoneDetail" placeholder="Số điện thoai" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="TypeOfVehicleDetail">Loại xe</label>
                                            <input type="text" class="form-control" id="TypeOfVehicleDetail" placeholder="Loại xe" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="LicensePlates">Biển số xe</label>
                                            <input type="text" class="form-control" id="LicensePlatesDetail" placeholder="Biển số xe" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="ParkingPlaceName">Bãi đỗ</label>
                                            <input type="text" class="form-control" id="ParkingPlaceNameDetail" placeholder="Bãi đỗ" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="RegisDate">Ngày đăng kí</label>
                                            <input type="text" class="form-control" id="RegisDateDetail" placeholder="Ngày đăng kí" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="ExpiryDate">Ngày hết hạn</label>
                                            <input type="text" class="form-control" id="ExpiryDateDetail" placeholder="Ngày hết hạn" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="CardIDDetail">Số thẻ</label>
                                            <input type="text" class="form-control" id="CardNumberDetail" placeholder="Số thẻ" disabled />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Edit Monthly Ticket -->
                        <div class="modal fade" id="myModalEditTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <form id="FormEditTicket">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Chi tiết vé tháng</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="MonthlyTicketIdEdit" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CusName">Tên chủ xe</label>
                                                <input type="text" class="form-control" id="CusNameEdit" name="CusNameEdit" placeholder="Tên chủ xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCardEdit" name="IdentityCardEdit" placeholder="Số CMND" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="EmailEdit" name="EmailEdit" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Phone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneEdit" name="PhoneEdit" placeholder="Số điện thoai" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="ParkingPlace">Bãi đỗ</label>
                                                <input type="text" class="form-control" id="ParkingPlaceEdit" placeholder="Bãi đỗ" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="TypeOfVehicle">Loại xe</label>
                                                <input type="text" class="form-control" id="TypeOfVehicleEdit" placeholder="Loại xe" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="RegisDate">Ngày đăng kí</label>
                                                <input type="text" class="form-control" id="RegisDateEdit" placeholder="Ngày đăng kí" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="ExpiryDate">Ngày hết hạn</label>
                                                <input type="text" class="form-control" id="ExpiryDateEdit" placeholder="Ngày hết hạn" />
                                            </div>
                                            <div class="form-group">
                                                <label for="LicensePlates">Biển số xe</label>
                                                <input type="text" class="form-control" id="LicensePlatesEdit" name="LicensePlatesEdit" placeholder="Biển số xe" />
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="checkboxChange" onclick="checkboxChangeCard()" />
                                                <label for="checkboxChange"> Chọn thẻ khác</label>
                                            </div>
                                            <div class="form-group" id="dvOldCard">
                                                <label for="CardNumberOld">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardNumberOld" name="CardNumberOld" placeholder="CardNumberOld" disabled />
                                            </div>
                                            <div class="form-group" id="dvcbCardNumber">
                                                <label for="CardNumber">Số thẻ</label>
                                                <select class="form-control" id="cbCardNumberEdit" name="cbCardNumberEdit" style="width:516px">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btnEditTicket" onclick="return UpdateInfoTicket()">Sửa</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->